<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= nome %></title>
</head>
<body>
	<div>
		Teste do projeto <%= nome %>
	</div>
</body>
</html>